@charset "UTF-8";
* {
  box-sizing: border-box;
}
*[class*=col-] {
  padding: 0 10px;
  float: left;
}

html, body {
  margin: 0;
  padding: 0;
  font-family: "century gothic", "微軟正黑體";
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.clearfix::after {
  display: block;
  content: "";
  clear: both;
}

img {
  display: block;
  width: 100%;
}

#main_layout {
  min-height: 100vh;
  background-image: linear-gradient(to bottom, #003649 0%, #002331 100%);
}
#main_layout.blackboard::before {
  position: fixed;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 3;
}
#main_layout::after {
  position: fixed;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url(../images/background/wallpaper.jpg);
  top: 0;
  left: 0;
  opacity: 0.05;
}

.container {
  margin: auto;
  padding: 0 10px;
  width: auto;
}
@media (min-width: 576px) {
  .container {
    width: 576px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 992px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

article {
  position: relative;
  z-index: 2;
}
article section h3.title {
  padding: 10px;
  color: #222;
}
article section h3.title > span {
  padding: 4px 10px;
  background-color: #2ff1c9;
  border-radius: 0 21px 21px 0;
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
}
article section h3.title > span .title_straight_line {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 16px;
}
article section h3.title > span .title_straight_line::after {
  position: absolute;
  display: block;
  content: "";
  width: 2px;
  height: 100%;
  background-color: #222;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
article section#about #photo_box {
  padding: 40px 10px 0;
}
@media (min-width: 576px) {
  article section#about #photo_box {
    padding: 40px 20px 0;
  }
}
article section#about #photo_box #photo_img {
  position: relative;
  width: 250px;
  height: 250px;
  background-image: url(../images/my_photo2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin: auto;
  border-radius: 0 25%;
  box-shadow: 0 0 12px #333 inset, 0 3px 6px #000;
}
article section#about #photo_box #photo_img::before {
  position: absolute;
  display: block;
  content: "";
  width: 100px;
  height: 4px;
  background-color: #11997f;
  top: -20px;
  left: -20px;
}
article section#about #photo_box #photo_img::after {
  position: absolute;
  display: block;
  content: "";
  width: 4px;
  height: 150px;
  background-color: #11997f;
  top: -20px;
  left: -20px;
}
article section#about #designer_information {
  position: relative;
  color: #efefef;
  margin-top: -50px;
  z-index: 2;
}
@media (min-width: 576px) {
  article section#about #designer_information {
    margin-top: 0;
  }
}
article section#about #designer_information .designer_title {
  position: relative;
  font-size: 30px;
  margin: 0.5em 0;
}
article section#about #designer_information .designer_title::after {
  position: absolute;
  display: block;
  content: "";
  width: 110px;
  height: 10px;
  background-color: #11997f;
  bottom: -3px;
  left: 30px;
  z-index: 2;
}
article section#about #designer_information .designer_title > span {
  position: relative;
  z-index: 3;
}
article section#about #designer_information .designer_name {
  font-size: 20px;
  margin: 10px 0;
}
article section#about #designer_information .designer_introduce ul {
  margin: 20px 0;
}
article section#about #designer_information .designer_introduce ul li {
  position: relative;
  margin: 10px 0;
  padding-left: 20px;
}
article section#about #designer_information .designer_introduce ul li::before {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #efefef;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  border-radius: 0 50% 50% 50%;
  transform: rotate(45deg) skew(5deg, 5deg);
}
article section#software ul#software_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
article section#software ul#software_list li {
  flex-basis: 20%;
  margin: 0 0 10px 0;
}
@media (min-width: 576px) {
  article section#software ul#software_list li {
    flex-basis: 14%;
  }
}
@media (min-width: 768px) {
  article section#software ul#software_list li {
    flex-basis: 12%;
  }
}
@media (min-width: 992px) {
  article section#software ul#software_list li {
    flex-basis: 14%;
  }
}
article section#software ul#software_list li .software_icon {
  margin: auto;
  width: 50px;
  height: 50px;
  box-shadow: 2px 2px 3px #111;
  border-radius: 17px;
  overflow: hidden;
  background-image: url(../images/icon/app_icon.png);
  background-repeat: no-repeat;
  background-size: 600px 50px;
  font-size: 0;
}
article section#software ul#software_list li .software_icon.Ps_icon {
  background-position: 0px 1px;
}
article section#software ul#software_list li .software_icon.Ai_icon {
  background-position: -50px 1px;
}
article section#software ul#software_list li .software_icon.Id_icon {
  background-position: -100px 1px;
}
article section#software ul#software_list li .software_icon.An_icon {
  background-position: -150px 1px;
}
article section#software ul#software_list li .software_icon.Ae_icon {
  background-position: -200px 1px;
}
article section#software ul#software_list li .software_icon.Pr_icon {
  background-position: -250px 1px;
}
article section#software ul#software_list li .software_icon.CSP_icon {
  background-position: -300px 1px;
}
article section#software ul#software_list li .software_icon.ZB_icon {
  background-position: -350px 1px;
}
article section#software ul#software_list li .software_icon.SP_icon {
  background-position: -400px 1px;
}
article section#software ul#software_list li .software_icon.MAYA_icon {
  background-position: -450px 1px;
}
article section#software ul#software_list li .software_icon.B3D_icon {
  background-position: -500px 1px;
}
article section#software ul#software_list li .software_icon.Figma_icon {
  background-position: -550px 1px;
}
@media (min-width: 576px) {
  article section#software ul#software_list li .software_icon {
    width: 60px;
    height: 60px;
    background-size: 720px 60px;
  }
  article section#software ul#software_list li .software_icon.Ps_icon {
    background-position: 0px 1px;
  }
  article section#software ul#software_list li .software_icon.Ai_icon {
    background-position: -60px 1px;
  }
  article section#software ul#software_list li .software_icon.Id_icon {
    background-position: -120px 1px;
  }
  article section#software ul#software_list li .software_icon.An_icon {
    background-position: -180px 1px;
  }
  article section#software ul#software_list li .software_icon.Ae_icon {
    background-position: -240px 1px;
  }
  article section#software ul#software_list li .software_icon.Pr_icon {
    background-position: -300px 1px;
  }
  article section#software ul#software_list li .software_icon.CSP_icon {
    background-position: -360px 1px;
  }
  article section#software ul#software_list li .software_icon.ZB_icon {
    background-position: -420px 1px;
  }
  article section#software ul#software_list li .software_icon.SP_icon {
    background-position: -480px 1px;
  }
  article section#software ul#software_list li .software_icon.MAYA_icon {
    background-position: -540px 1px;
  }
  article section#software ul#software_list li .software_icon.B3D_icon {
    background-position: -600px 1px;
  }
  article section#software ul#software_list li .software_icon.Figma_icon {
    background-position: -660px 1px;
  }
}
@media (min-width: 768px) {
  article section#software ul#software_list li .software_icon {
    width: 70px;
    height: 70px;
    background-size: 840px 70px;
  }
  article section#software ul#software_list li .software_icon.Ps_icon {
    background-position: 0px 1px;
  }
  article section#software ul#software_list li .software_icon.Ai_icon {
    background-position: -70px 1px;
  }
  article section#software ul#software_list li .software_icon.Id_icon {
    background-position: -140px 1px;
  }
  article section#software ul#software_list li .software_icon.An_icon {
    background-position: -210px 1px;
  }
  article section#software ul#software_list li .software_icon.Ae_icon {
    background-position: -280px 1px;
  }
  article section#software ul#software_list li .software_icon.Pr_icon {
    background-position: -350px 1px;
  }
  article section#software ul#software_list li .software_icon.CSP_icon {
    background-position: -420px 1px;
  }
  article section#software ul#software_list li .software_icon.ZB_icon {
    background-position: -490px 1px;
  }
  article section#software ul#software_list li .software_icon.SP_icon {
    background-position: -560px 1px;
  }
  article section#software ul#software_list li .software_icon.MAYA_icon {
    background-position: -630px 1px;
  }
  article section#software ul#software_list li .software_icon.B3D_icon {
    background-position: -700px 1px;
  }
  article section#software ul#software_list li .software_icon.Figma_icon {
    background-position: -770px 1px;
  }
}
@media (min-width: 992px) {
  article section#software ul#software_list li .software_icon {
    width: 50px;
    height: 50px;
    background-size: 600px 50px;
  }
  article section#software ul#software_list li .software_icon.Ps_icon {
    background-position: 0px 1px;
  }
  article section#software ul#software_list li .software_icon.Ai_icon {
    background-position: -50px 1px;
  }
  article section#software ul#software_list li .software_icon.Id_icon {
    background-position: -100px 1px;
  }
  article section#software ul#software_list li .software_icon.An_icon {
    background-position: -150px 1px;
  }
  article section#software ul#software_list li .software_icon.Ae_icon {
    background-position: -200px 1px;
  }
  article section#software ul#software_list li .software_icon.Pr_icon {
    background-position: -250px 1px;
  }
  article section#software ul#software_list li .software_icon.CSP_icon {
    background-position: -300px 1px;
  }
  article section#software ul#software_list li .software_icon.ZB_icon {
    background-position: -350px 1px;
  }
  article section#software ul#software_list li .software_icon.SP_icon {
    background-position: -400px 1px;
  }
  article section#software ul#software_list li .software_icon.MAYA_icon {
    background-position: -450px 1px;
  }
  article section#software ul#software_list li .software_icon.B3D_icon {
    background-position: -500px 1px;
  }
  article section#software ul#software_list li .software_icon.Figma_icon {
    background-position: -550px 1px;
  }
}
@media (min-width: 1200px) {
  article section#software ul#software_list li .software_icon {
    width: 60px;
    height: 60px;
    background-size: 720px 60px;
  }
  article section#software ul#software_list li .software_icon.Ps_icon {
    background-position: 0px 1px;
  }
  article section#software ul#software_list li .software_icon.Ai_icon {
    background-position: -60px 1px;
  }
  article section#software ul#software_list li .software_icon.Id_icon {
    background-position: -120px 1px;
  }
  article section#software ul#software_list li .software_icon.An_icon {
    background-position: -180px 1px;
  }
  article section#software ul#software_list li .software_icon.Ae_icon {
    background-position: -240px 1px;
  }
  article section#software ul#software_list li .software_icon.Pr_icon {
    background-position: -300px 1px;
  }
  article section#software ul#software_list li .software_icon.CSP_icon {
    background-position: -360px 1px;
  }
  article section#software ul#software_list li .software_icon.ZB_icon {
    background-position: -420px 1px;
  }
  article section#software ul#software_list li .software_icon.SP_icon {
    background-position: -480px 1px;
  }
  article section#software ul#software_list li .software_icon.MAYA_icon {
    background-position: -540px 1px;
  }
  article section#software ul#software_list li .software_icon.B3D_icon {
    background-position: -600px 1px;
  }
  article section#software ul#software_list li .software_icon.Figma_icon {
    background-position: -660px 1px;
  }
}
article section#hobbies ul#hobby_list li > div, article section#skills ul#skill_list li > div {
  margin: 0 10px;
  padding: 5px;
  border: 1px dashed #11997f;
  color: #efefef;
  background-color: #444;
  text-align: center;
  box-shadow: 2px 2px 3px #111;
  transform: skewX(-20deg);
}
@media (min-width: 576px) {
  article section#hobbies ul#hobby_list li > div, article section#skills ul#skill_list li > div {
    padding: 5px 0;
  }
}
article section#hobbies ul#hobby_list, article section#skills ul#skill_list {
  display: flex;
  flex-wrap: wrap;
}
article section#hobbies ul#hobby_list li, article section#skills ul#skill_list li {
  flex-basis: auto;
  margin: 0 0 10px 0;
}
@media (min-width: 576px) {
  article section#hobbies ul#hobby_list li, article section#skills ul#skill_list li {
    flex-basis: 25%;
  }
}
article section#works > div {
  color: #efefef;
}
article section#works > div.works_box {
  border-bottom: 1px dashed #11997f;
  margin: 10px 0;
  padding: 10px;
}
article section#works > div.works_box:nth-last-of-type(1) {
  border-bottom: 0;
}
@media (min-width: 768px) {
  article section#works > div.works_box {
    border-bottom: 0;
  }
}
article section#works > div.works_box .works_main_title {
  font-weight: bold;
  padding: 0 0 10px 0;
  margin: 0 0 10px 0;
  font-size: 18px;
}
@media (min-width: 768px) {
  article section#works > div.works_box .works_main_title {
    text-align: center;
  }
}
article section#works > div.works_box .works_main_title span {
  position: relative;
}
article section#works > div.works_box .works_main_title span.year_text {
  display: inline-block;
  letter-spacing: 4px;
}
article section#works > div.works_box .works_main_title span.year_text::after {
  position: relative;
  display: inline-block;
  content: "";
  top: -5px;
  width: 14px;
  height: 2px;
  background-color: #efefef;
  margin: 0 7px 0 5px;
}
@media (min-width: 768px) {
  article section#works > div.works_box .works_main_title span.year_text {
    transform: rotate(-45deg);
    top: -5px;
    left: -20px;
  }
  article section#works > div.works_box .works_main_title span.year_text::after {
    position: absolute;
    width: 2px;
    height: 50px;
    top: -4px;
    left: 26px;
    transform: rotate(90deg);
  }
}
@media (min-width: 768px) {
  article section#works > div.works_box .works_main_title span.title_text {
    top: 5px;
    left: -20px;
  }
}
@media (min-width: 992px) {
  article section#works > div.works_box .works_main_title span.title_text > span.title_2nd_text {
    display: block;
  }
}
article section#works > div.works_box .works_content {
  font-size: 15px;
}
@media (min-width: 576px) {
  article section#works > div.works_box .works_content ul {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (min-width: 768px) {
  article section#works > div.works_box .works_content ul:not(#soho_list) {
    display: block;
  }
}
article section#works > div.works_box .works_content ul li {
  position: relative;
  padding-left: 20px;
  margin: 5px 0;
}
article section#works > div.works_box .works_content ul li::before {
  position: absolute;
  display: block;
  content: "";
  width: 8px;
  height: 8px;
  border: 1px solid #efefef;
  top: 4px;
  border-radius: 0 50% 50% 50%;
  left: 0;
  transform: rotate(45deg) skew(5deg, 5deg);
}
@media (min-width: 576px) {
  article section#works > div.works_box .works_content ul li {
    flex-basis: 50%;
  }
}
@media (min-width: 768px) {
  article section#works > div#important_soho {
    padding-top: 20px;
    border-top: 1px dashed #11997f;
  }
}
article section#works > div#important_soho ul#soho_list li > div {
  font-size: 15px;
}
article section#collections ul#collection_nav {
  display: flex;
  justify-content: space-evenly;
}
article section#collections ul#collection_nav > li {
  background-color: #fc0;
  padding: 5px;
  border-radius: 6px;
  border-bottom: 3px inset rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
article section#collections ul#collection_nav > li.active {
  background-color: #efefef;
}
article section#collections ul#collection_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
article section#collections ul#collection_list li {
  width: 100%;
  margin: 10px;
  border: 1px solid #efefef;
  overflow: hidden;
  box-shadow: 0 2px 2px #000;
  align-self: flex-start;
  cursor: pointer;
  transition: box-shadow 0.2s ease, border 0.2s ease;
}
@media (min-width: 576px) {
  article section#collections ul#collection_list li {
    width: 110px;
  }
}
@media (min-width: 768px) {
  article section#collections ul#collection_list li {
    width: 125px;
  }
}
@media (min-width: 992px) {
  article section#collections ul#collection_list li {
    width: 135px;
  }
}
@media (min-width: 1200px) {
  article section#collections ul#collection_list li {
    width: 142px;
  }
}
article section#collections ul#collection_list li:hover {
  border: 1px solid #2ff1c9;
  box-shadow: 0 0 5px #2ff1c9;
}

#collection_float_box {
  visibility: hidden;
  position: fixed;
  min-width: 280px;
  width: 80%;
  padding: 0px;
  background-color: #333;
  border-radius: 0 0 10px 10px;
  color: #efefef;
  top: 10%;
  left: 0;
  right: 0;
  margin: auto;
  box-shadow: 2px 2px 3px #111;
  opacity: 0;
  z-index: 4;
  transition: opacity 1s ease, top 1s ease;
}
#collection_float_box.active {
  visibility: visible;
  top: 20%;
  padding: 5px;
  opacity: 1;
}
@media (orientation: landscape) {
  #collection_float_box.active {
    top: 5%;
  }
}
@media (min-width: 576px) {
  #collection_float_box {
    width: 476px;
  }
}
@media (min-width: 576px) and (orientation: landscape) {
  #collection_float_box.active {
    top: 20%;
  }
}
@media (min-width: 768px) {
  #collection_float_box {
    width: 668px;
  }
}
@media (min-width: 992px) {
  #collection_float_box {
    width: 892px;
  }
}
#collection_float_box .closeBtn::after, #collection_float_box .closeBtn::before {
  display: block;
  position: absolute;
  content: "";
  width: 16px;
  height: 4px;
  border-radius: 2px;
  top: 12px;
  left: 6px;
  background-color: #11997f;
  transition: transform 0.2s ease;
}
#collection_float_box .closeBtn {
  cursor: pointer;
  position: absolute;
  width: 32px;
  height: 32px;
  top: -14px;
  right: -14px;
  background-color: #2ff1c9;
  border: 2px solid #efefef;
  border-radius: 50%;
  box-shadow: 0 0 4px #333 inset;
  z-index: 2;
}
#collection_float_box .closeBtn::before {
  transform: rotate(-45deg);
}
@media (min-width: 992px) {
  #collection_float_box .closeBtn::before {
    transform: rotate(0deg);
  }
}
#collection_float_box .closeBtn::after {
  transform: rotate(45deg);
}
@media (min-width: 992px) {
  #collection_float_box .closeBtn::after {
    transform: rotate(0deg);
  }
}
#collection_float_box .closeBtn:hover::before {
  transform: rotate(-45deg);
}
#collection_float_box .closeBtn:hover::after {
  transform: rotate(45deg);
}
@keyframes arrow_hover {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  50% {
    width: 40px;
    height: 40px;
    opacity: 0;
  }
}
#collection_float_box .arrow_btn {
  position: absolute;
  bottom: -22px;
  width: 16px;
  height: 16px;
  background-color: #efefef;
  border-radius: 0% 50% 50% 50%;
  cursor: pointer;
  z-index: 2;
}
@media (min-width: 576px) {
  #collection_float_box .arrow_btn {
    bottom: 50%;
  }
}
#collection_float_box .arrow_btn::before, #collection_float_box .arrow_btn::after {
  position: absolute;
  display: block;
  content: "";
  top: -20px;
  left: -20px;
  width: 30px;
  height: 30px;
  border-top: 4px solid #efefef;
  border-left: 4px solid #efefef;
  opacity: 1;
  transition: top 0.2s ease, left 0.2s ease, right 0.2s ease, width 0.2s ease, height 0.2s ease, opacity 0.5s ease;
}
#collection_float_box .arrow_btn:hover::after {
  top: -40px;
  left: -40px;
  animation: arrow_hover 0.5s;
  opacity: 0;
}
#collection_float_box .arrow_btn:hover::before {
  top: -30px;
  left: -30px;
}
#collection_float_box .arrow_btn#prev_btn {
  transform: rotate(-45deg) scale(0.5);
  left: 5%;
  box-shadow: -2px 2px 3px #333;
}
#collection_float_box .arrow_btn#prev_btn span {
  position: absolute;
  display: block;
  transform: rotate(45deg) scale(2);
  left: 30px;
  top: 40px;
}
@media (min-width: 576px) {
  #collection_float_box .arrow_btn#prev_btn {
    transform: rotate(-45deg);
    left: -10px;
  }
  #collection_float_box .arrow_btn#prev_btn span {
    display: none;
  }
}
#collection_float_box .arrow_btn#next_btn {
  transform: rotate(135deg) scale(0.5);
  right: 5%;
  box-shadow: 2px -2px 3px #333;
}
#collection_float_box .arrow_btn#next_btn span {
  position: absolute;
  display: block;
  transform: rotate(-135deg) scale(2);
  left: 30px;
  top: 40px;
}
@media (min-width: 576px) {
  #collection_float_box .arrow_btn#next_btn {
    right: -10px;
    transform: rotate(135deg);
  }
  #collection_float_box .arrow_btn#next_btn span {
    display: none;
  }
}
#collection_float_box #collection_graphic {
  position: relative;
  overflow-y: auto;
}
#collection_float_box #collection_text {
  height: auto;
  padding: 10px 5px;
  overflow-y: auto;
  border-radius: 0 0 8px 8px;
}
#collection_float_box #collection_web_link {
  position: absolute;
  bottom: 10px;
  right: 0;
}
#collection_float_box #collection_web_link a {
  display: block;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 2px #333;
  padding: 10px 10px 10px 40px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.2s ease;
}
#collection_float_box #collection_web_link a:hover {
  color: #efefef;
}
#collection_float_box #collection_web_link a:hover::before {
  opacity: 1;
}
#collection_float_box #collection_web_link a::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 0;
  left: 4px;
  bottom: 0;
  margin: auto;
  background-image: url(../images/icon/landing-page.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
#collection_float_box #collection_movie_link {
  position: absolute;
  bottom: 10px;
  right: 0;
}
#collection_float_box #collection_movie_link #changeMovie_btn {
  display: block;
  position: relative;
  background-color: rgba(0, 0, 0, 0.7);
  box-shadow: 0 2px 2px #333;
  padding: 10px 10px 10px 40px;
  color: #ccc;
  text-decoration: none;
  transition: color 0.2s ease;
  cursor: pointer;
}
#collection_float_box #collection_movie_link #changeMovie_btn:hover {
  color: #efefef;
}
#collection_float_box #collection_movie_link #changeMovie_btn:hover::before {
  opacity: 1;
}
#collection_float_box #collection_movie_link #changeMovie_btn::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  top: 0;
  left: 2px;
  bottom: 0;
  margin: auto;
  background-image: url(../images/icon/video.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  opacity: 0.7;
  transition: opacity 0.2s ease;
}
#collection_float_box #collection_movie_link #changeMovie_btn.active::before {
  background-image: url(../images/icon/return.png);
}
#collection_float_box #collection_movie_frame {
  display: none;
}
#collection_float_box #collection_movie_frame.active {
  display: block;
}
#collection_float_box #collection_movie_frame iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#go_top_btn::after, #go_top_btn::before {
  position: absolute;
  display: block;
  content: "";
  width: 18px;
  height: 6px;
  background-color: #efefef;
  top: 0;
  bottom: 0;
  margin: auto;
  box-shadow: 0 3px 0 #073d33;
}
#go_top_btn:hover::after, #go_top_btn:hover::before {
  animation: go_top_arrow 1s infinite;
}
.active#go_top_btn::after, .active#go_top_btn::before {
  animation: go_top_arrow 1s 1;
}

@keyframes go_top_arrow {
  0% {
    top: 0;
  }
  40% {
    top: 10px;
  }
}
#go_top_btn {
  display: none;
  position: fixed;
  width: 50px;
  height: 50px;
  bottom: 5%;
  right: 5%;
  border-radius: 10px;
  background-color: rgba(17, 153, 127, 0.5);
  color: #efefef;
  text-align: center;
  line-height: 70px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  border-bottom: 3px solid #073d33;
  z-index: 3;
  overflow: hidden;
}
#go_top_btn .top {
  position: absolute;
  display: block;
  width: 40px;
  height: 6px;
  top: -10px;
  left: 0;
  right: 0;
  background-color: #efefef;
  margin: auto;
  transition: top 0.5s ease-in;
}
#go_top_btn::before {
  transform: skewY(-40deg);
  left: 7px;
}
#go_top_btn::after {
  transform: skewY(40deg);
  right: 7px;
}
#go_top_btn.active .top {
  top: 6px;
}

header {
  position: relative;
  height: 3px;
  background-color: #00202b;
  box-shadow: 0 3px 10px #000;
  z-index: 2;
}

footer {
  position: relative;
  height: 30px;
  background-color: #00202b;
  z-index: 2;
  box-shadow: 0 -3px 36px #000;
}